@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans&family=Ubuntu&display=swap');

/* ---------------------------------------General */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* ---------------------------------------Header */

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

header h1 {
    font-family: Anton, Ubuntu, 'PT Sans';
    font-size: 100px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}


body {
    font-family: Ubuntu, 'PT Sans';
    font-weight: 600;
    color: #C0C0C0;
}

.nav-area {
    padding: 20px;
}

.nav-area a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.navbar {
    background-color: #000;
    align-content: center;
}

.navbar-toggler.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#menu {
    list-style-type: none;
    text-align: center;
}

#menu li {
    display: inline-block;
    font-size: 30px;
    padding: 30px;
}

#logo {
    font-size: 150%;
    color: #606160;
    margin-left: 10px;

}


#nav a {
    text-decoration: none;
    letter-spacing: 2px;
}

#nav a:hover {
    border-bottom: 1px solid #a3a0a0;
}



.active {
    border-bottom: 1px solid #a3a0a0;
}



.menucontainer {
    font-size: 0;
    margin-bottom: 0;
}



/* ---------------------------------------index.html */

.text-image {
    height: 1200px;
    width: 100%;
    background-image: url('../images/football\ background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#welcome {
    text-align: center;
    padding: 200px 0 20px 0;
}

#get-started-button {
    padding-top: 50px;
}

#get-started-button a {
    color:#000;
}

/* ---------------------------------------legends.html */

.background-image {
    background-color: #000;
    height: 100%;
}

.jumbotron.goalkeepers {
    background-color: rgba(155, 153, 153, 0.1);
    background-image: url('../images/GK.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron.defenders {
    background-color: rgba(155, 153, 153, 0.1);
    background-image: url('../images/DF.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron.midfielders {
    background-color: rgba(155, 153, 153, 0.1);
    background-image: url('../images/MF.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron.forwards {
    background-color: rgba(155, 153, 153, 0.1);
    background-image: url('../images/CF.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 0;
}

.players li {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 40%;
    color: #C0C0C0;
}

.players img {
    border: 5px solid #ddd;
    padding: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.img-area li {
    width: 100%;
}

.players-text {
    text-align: center;
    padding-top: 10px;
  }

#bioModalScrollable {
    color:#000;
}

div#map {min-height: 360px;}

.list-inline-item:not(:last-child) {
    margin: 0;
}



/* ---------------------------------------Your 11 */

.pitch-image {
    height: 1000px;
    width: 100%;
    background-image: url('../images/football\ background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .eleven-intro {
    text-align: center;
    padding: 50px;
} */

.pitch-image ul {
    margin: 0;
}

.pitch {
    margin-top: 10%;
    background-color: rgba(155, 153, 153, 0.1);
    background-image: url('../images/pitch\ \(1\).jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90%;
    text-align: center;
}

.box img {
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 25%;
    width: 75px;
    height: 75px;
}


.gk {
    padding: 20px 0 20px 0;
}

.cm {
    padding: 50px 0 20px 0;
}

.am {
    padding-top: 50px;
}

.wf {
    padding-top: 30px;
}

.cf {
    padding-bottom: 40px;
}

/* ---------------------------------------contact.html */

.contact-text {
    width: 50%;
    padding: 20px;
    margin: 0 25%;
}

.contactForm {
    padding: 20px 25%;
}

.text-input {
    font-family: Ubuntu, 'PT Sans';
    color: #000;
    width: 100%;
    height: 25px;
    position: relative;
    margin: 5px 0 20px 0;
    border: 1px solid #606160;
    border-radius: 2px;
}

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    min-width: 50%;
    padding: 30px;
}

#contact-text-area {
    max-width: 95%;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signup-form h3 {
    color: #fafafa;
    margin-bottom: 20px;
}

.radio-section {
    padding: 20px 0;
}

.radio-btn {
    font-weight: 400;
}

/* ---------------------------------------Footer */

.social-links {
    text-align: center;
    padding-top: 20px;
    background-color: #000;
    
}

.social-area li {
    width: 20%;
    padding: 0;
    margin: 0;
    color: #C0C0C0;
    
}

.social-area li a {
    text-decoration: none;
}

.social-links li a i {
    height: 30px;
    color: #C0C0C0;
    font-size: 26px;
    font-family: Ubuntu, 'PT Sans';
    text-align: center;
    
}

.social-links li a span {
    color: #606160;
    font-size: 20px;
    padding: 0 10px 0 10px;
    text-align: center;
}


/* ---------------------------------------Media Queries */

@media screen and (max-width: 576px) {
    
    .header-area a h1 {
        /* color: #5d0000; */
        text-align: center;
        padding-top: 30px;
        /* font-family: Italianno, sans-serif; */
        font-size: 75px;
    
    }

    .text-image {
        padding-top: 50px;
    }

    .social-area li {
        text-align: center;
    }

    .social-links li a span {
        display: none;
    }

    .players li p {
        display: none;
    }

    .players img {
        text-align: center;
        /* padding: 0 20px 0 20px; */
        height: 100px;
        width: 100px;
    }

}